body,
html {
    text-align: center;

    background-color: #68cee7;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}
span {
    color: rgb(133, 0, 0);
    font-weight: 600;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.3rem;
    color: #fef2bf;
    margin: auto 2px;
}
h1:hover {
    filter: brightness(110%);
}
p {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 0.7rem;
    line-height: 1rem;

    letter-spacing: 0.05rem;
    color: #121111;
    font-weight: 500;
}

h2 {
    font-family: 'Press Start 2P', cursive;

    color: #fffbea;
    margin: auto 0;
}
h2:hover {
    filter: brightness(110%);
}
#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9rem;
    color: #fef2bf;
}

.container {
    margin: auto 0;
}

.btn {
    margin: 20px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 10px solid black;
    border-radius: 20%;
}
.btn:hover {
    filter: brightness(110%);
}
a {
    color: rgb(0, 112, 160);
}
a:hover {
    filter: brightness(110%);
}

.game-over {
    background-color: red;
    opacity: 0.8;
    margin: auto;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}
.c-down {
    padding: 5px 0;
    background-color: #fef2bf9e;
}
.c-down:hover {
    filter: brightness(110%);
}
.blinking {
    animation: blinkingText 1s infinite;
}
@keyframes blinkingText {
    0% {
        color: #fef2bf;
    }
    49% {
        color: #fef2bf;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: #fef2bf;
    }
}
